Cython==0.24
Quandl==3.0.1
beautifulsoup4==4.4.1
cycler==0.10.0
html5lib==0.9999999
inflection==0.3.1
lxml==3.6.0
matplotlib==1.5.1
more-itertools==2.2
ndg-httpsclient==0.4.1
numpy==1.11.0
pandas==0.18.1
pandas-datareader==0.2.1
pyOpenSSL==16.0.0
pyasn1==0.1.9
pyparsing==2.1.4
python-dateutil==2.5.3
pytz==2016.4
requests==2.10.0
requests-file==1.4
six==1.10.0
